<!-- This Source Code is subject to the terms of the Mozilla Public License
   - version 2.0 (the "License"). You can obtain a copy of the License at
   - http://mozilla.org/MPL/2.0/. -->

{%- macro processSubscription(subscription, parent=None) %}
  <tr{% if subscription.deprecated %} class="deprecated"{% endif %}>
    {%- if subscription.supplements %}
    <td rowspan="2" class="dummy"></td><td rowspan="2">
    {%- else %}
    <td rowspan="2" colspan="2">
    {%- endif %}
      <strong class="subscriptionTitle">{{subscription.name}}</strong><br />
      {{subscription.specialization}}
      {%- if subscription.supplements %}
      <br />%supplements_prefix% {{' / '.join(subscription.supplements)}} %supplements_suffix%
      {%- endif %}
    </td>
    <td>
      {%- if subscription.maintainer %}
      %maintainer_prefix% {{subscription.maintainer}} %maintainer_suffix%<br />
      {%- endif %}
      {%- set isFirst = True %}
      {% for key in ('homepage', 'forum', 'contact', 'faq', 'blog', 'changelog', 'policy') -%}
        {%- set url = subscription[key] -%}
        {%- if url -%}
          {%- if not isFirst %}, {% endif -%}
          {%- set isFirst = False -%}
          <a href="{{url}}">%{{key}}%</a>
        {%- endif %}
      {%- endfor %}
    </td>
  </tr>
  <tr{% if subscription.deprecated %} class="deprecated"{% endif %}>
    <td>
      {%- if subscription.deprecated %}
      <strong>%deprecation_warning%</strong><br />
      {%- endif %}
      %subscribe%{{' '}}
      {%- for title, url, complete in subscription.variants -%}
        <a href="abp:subscribe?location={{url|urlencode}}&amp;title={{title|urlencode}}
          {%- if parent and not complete -%}
            {%- set mainTitle, mainURL, mainComplete = parent.variants[0] -%}
            &amp;requiresLocation={{mainURL|urlencode}}&amp;requiresTitle={{mainTitle|urlencode}}
          {%- endif -%}
        ">{{title}}</a>{%- if not loop.last %}, {% endif -%}
      {%- endfor %}
    </td>
  </tr>
  {%- if not parent -%}
    {%- for supplement in subscription.supplemented|subscriptionSort -%}
      {{ processSubscription(supplement, subscription) }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro %}

{%- set currentType = subscriptions[0].type -%}
<h2>%type_{{currentType}}%</h2>

<table class="subscriptions">
{%- for subscription in subscriptions|subscriptionSort -%}
  {%- if not subscription.supplements -%}
    {%- if currentType != subscription.type -%}
      {%- set currentType = subscription.type %}
</table>

<h2>%type_{{currentType}}%</h2>

<table class="subscriptions">
    {%- endif -%}
    {{ processSubscription(subscription) }}
  {%- endif -%}
{%- endfor %}
</table>
