[DEFAULT]
hgroot={hg_dir}
wwwdir={out_dir}
keysdir={keys_dir}

[extensions]
adblockplusfirefox_repository=%(hgroot)s/adblockpluschrome
adblockplusfirefox_type=gecko

adblockplusie_repository=%(hgroot)s/adblockplusie
adblockplusie_type=ie

adblockplussafari_repository=%(hgroot)s/adblockpluschrome/
adblockplussafari_type=safari
adblockplussafari_key=%(keysdir)s/adblockplussafari.pem

adblockplusedge_repository=%(hgroot)s/adblockpluschrome/
adblockplusedge_type=edge

adblockplusandroid_repository=%(hgroot)s/adblockplusandroid
adblockplusandroid_type=android

downloadsRepo=%(hgroot)s/downloads
downloadsURL=https://downloads.adblockplus.org/

androidUpdateManifestPath=%(wwwdir)s/androidupdates.xml
androidNewUpdateManifestPath=%(wwwdir)s/androidupdates.json
safariUpdateManifestPath=%(wwwdir)s/updates.plist
ieUpdateManifestPath=%(wwwdir)s/ieupdate.json

chromeUpdateManifest=extensions/template/updates.xml
androidUpdateManifest=extensions/template/androidupdates.xml
safariUpdateManifest=extensions/template/updates.plist
