[DEFAULT]
root=/server/root/path
mailer=/usr/sbin/sendmail
mailerDebug=no
secret=somerandomstringhere

[multiplexer]
sitescripts.subscriptions.web.fallback =
sitescripts.crashes.web.submitCrash =
sitescripts.reports.web.submitReport =
sitescripts.reports.web.updateReport =
sitescripts.reports.web.showDigest =
sitescripts.reports.web.showUser =
sitescripts.formmail.web.formmail =
sitescripts.crawler.web.crawler =
sitescripts.urlfixer.web.submitData =
sitescripts.extensions.web.downloads =

[subscriptions]
repository=%(root)s/hg/subscriptionlist
statusTemplate=subscriptions/template/status.html
statusPage=%(root)s/www/subscriptionStatus.html
reportTemplate=subscriptions/template/report.mail
recommendationsTemplate=subscriptions/template/recommendations.xml
recommendationsFile=%(root)s/www/recommendations.xml
subscriptionsXMLTemplate=subscriptions/template/subscriptions.xml
subscriptionsXMLFile=%(root)s/www/subscriptions.xml
subscriptionsXML2Template=subscriptions/template/subscriptions2.xml
subscriptionsXML2File=%(root)s/www/subscriptions2.xml
subscriptionListTemplate=subscriptions/template/subscriptionList.html
subscriptionListFile=%(root)s/www/subscriptions.html

[reports]
urlRoot=https://reports.adblockplus.org/
dataPath=%(root)s/reports/data
digestPath=%(root)s/reports/digests
digestDays=2
webTemplate=reports/template/report.html
mailDigestTemplate=reports/template/digest.mail
htmlDigestTemplate=reports/template/digest.html
notificationTemplate=reports/template/updateNotification.mail
defaultSubscriptionName=Adblock Plus
defaultSubscriptionRecipient=Somebody <user@example.com>
errorTemplate=reports/template/error.html
submitResponseTemplate=reports/template/submitSuccess.html
showUserTemplate=reports/template/showUser.html
pngOptimizerPath=/path/to/optipng -o2 -quiet -force
database=db
dbuser=user
dbpassword=password
dbprefix=

[logs]
dataPath=%(root)s/logs
fileName=log.%%i.gz

[extensions]
abp_repository=%(root)s/hg/adblockplus
abp_name=Adblock Plus for Mozilla Firefox
abp_galleryID=adblock-plus
abp_pad=true
abpchrome_repository=%(root)s/hg/adblockpluschrome
abpchrome_type=chrome
abpchrome_name=Adblock Plus for Google Chrome
abpchrome_galleryID=cfhdojbkjhnklbpkdaibdccddilifddb
abpchrome_devbuildGalleryID=ldcecbkkoecffmfljeihcmifjjdoepkn
abpchrome_key=%(root)s/data/adblockpluschrome.pem
abpchrome_clientID=...apps.googleusercontent.com
abpchrome_clientSecret=secret
abpchrome_refreshToken=1/rwn...
abpchrome_pad=true
abpopera_repository=%(root)s/hg/adblockpluschrome
abpopera_type=opera
abpopera_name=Adblock Plus for Opera
abpopera_galleryID=opera-adblock
abpopera_key=%(root)s/data/adblockpluschrome.pem
abpopera_pad=true
abpsafari_repository=%(root)s/subdomains/hg/adblockpluschrome/
abpsafari_type=safari
abpsafari_name=Adblock Plus for Safari
abpsafari_key=%(root)s/files/adblockplussafari.pem
abpsafari_pad=true
abpandroid_repository=%(root)s/hg/adblockplusandroid
abpandroid_type=android
abpandroid_name=Adblock Plus for Android
abpandroid_downloadPage=/en/android
abpandroid_pad=true
abpie_repository=%(root)s/hg/adblockplusie
abpie_type=ie
abpie_name=Adblock Plus for Internet Explorer
ehh_repository=%(root)s/hg/elemhidehelper
ehh_name=Element Hiding Helper
ehh_galleryID=elemhidehelper
watcher_repository=%(root)s/hg/abpwatcher
watcher_name=Diagnostics
watcher_downloadPage=/en/abpwatcher
deobfuscator_repository=%(root)s/hg/jsdeobfuscator
deobfuscator_name=JavaScript Deobfuscator
deobfuscator_galleryID=javascript-deobfuscator
urlfixer_repository=%(root)s/hg/urlfixer
urlfixer_name=URL fixer
urlfixer_galleryID=url-fixer
urlfixer_pad=true
buildRepository=%(root)s/hg/buildtools
nightliesData=%(root)s/data/nightlies
nightliesDirectory=%(root)s/www/devbuilds
nightliesURL=https://adblockplus.org/devbuilds/
downloadsRepo=%(root)s/hg/downloads
downloadsURL=https://downloads.adblockplus.org/
downloadLinksFile=%(root)s/tmp/downloadLinks.ini
geckoUpdateManifestPath=%(root)s/www/update.rdf
androidUpdateManifestPath=%(root)s/www/androidupdates.xml
androidNewUpdateManifestPath=%(root)s/www/androidupdate.json
safariUpdateManifestPath=%(root)s/www/updates.plist
ieUpdateManifestPath=%(root)s/www/ieupdate.json
docsDirectory=%(root)s/www/jsdoc
padDirectory=%(root)s/www/pad
padURL=https://adblockplus.org/pad/
errorTemplate=extensions/template/error.html
languageCheckTemplate=extensions/template/languageCheckResult.html
languageFormTemplate=extensions/template/languageForm.html
changelogTemplate=extensions/template/changelog.html
geckoUpdateManifest=extensions/template/update.rdf
chromeUpdateManifest=extensions/template/updates.xml
safariUpdateManifest=extensions/template/updates.plist
androidUpdateManifest=extensions/template/androidupdates.xml
nightlyIndexPage=extensions/template/nightlies.html
padTemplate=extensions/template/pad.xml

[stats]
geoip_db=%(root)s/data/GeoIP.dat
geoipv6_db=%(root)s/data/GeoIPv6.dat

mirror_foo=subscription ssh://stats@foo.example.com/access_log.subscriptions.1.gz
mirror_bar=subscription ssh://stats@bar.example.com/access_log.subscriptions.1.gz
mirror_bas=download ssh://stats@bas.example.com/access_log.downloads.1.gz

baseURL_subscription=https://easylist-downloads.adblockplus.org/
baseURL_download=https://download.adblockplus.org/

dataDirectory=%(root)s/data/stats
outputDirectory=%(root)s/www/stats
mainPageTemplate=stats/template/main.html
fileOverviewTemplate=stats/template/fileOverview.html
filePageTemplate=stats/template/fileStats.html

[subscriptionDownloads]
easylist_repository=%(root)s/hg/easylist
easylistgermany_repository=%(root)s/hg/easylistgermany
malwaredomains_repository=%(root)s/hg/malwaredomains
outdir=%(root)s/data/easylist
cvsroot=:pserver:guest@mozdev.org:/cvs
cvsdir=adblockplus/www/easylist

[hg]
auth_repository=%(root)s/hg/hgaccess
auth_file=%(root)s/.ssh/.ssh/authorized_keys

[formmail]
template=formmail/template/eyeo.mail

[externalFiles]
example_source=http://mxr.mozilla.org/mozilla-central/source/netwerk/dns/effective_tld_names.dat?raw=1
example_targetrepository=%(root)s/hg/adblockpluschrome
example_targetfile=third-party/publicSuffixList.txt

[notifications]
repository=%(root)s/hg/notifications
output=%(root)s/www/notification.json
