<!-- This Source Code is subject to the terms of the Mozilla Public License
   - version 2.0 (the "License"). You can obtain a copy of the License at
   - http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="static/subscriptions.css" />
    <title>Statistics for filter subscriptions ({{month|monthname}})</title>
  </head>

  <body style="margin-top: 0px">
    <a name="top">&nbsp;</a>
    <table class="block" width="100%">
      <tr>
        <td class="title" width="250">Subscription statistics for:</td>

        <td>easylist-downloads.adblockplus.org</td>
      </tr>
      <tr>
        <td class="title" width="250">Last update:</td>
        <td>{{now|formattime}}</td>
      </tr>
      <tr>
        <td class="title" width="250">Reported period:</td>
        <td>Month {{month|monthname}}</td>
      </tr>
    </table>
    <div class="block_title">Subscriptions</div>
    <div class="block">
      <table align="center">
      <tr>
        <th bgcolor="#ECECEC">Subscription</th>
        <th bgcolor="#66DDEE">Hits</th>
        <th bgcolor="#2EA495">Bandwidth</th>
        <th>&nbsp;</th>
      </tr>
      {%- set maxHits = subscriptions|max(attribute='hits') %}
      {%- set maxBandwidth = subscriptions|max(attribute='bandwidth') %}
      {%- for subscription in subscriptions %}
      <tr>
        <td><a href="{{subscription.url}}">{{subscription.fileName}}</a></td>
        <td align="right">{{subscription.hits}}</td>
        <td align="right">{{subscription.bandwidth|bytes}}</td>
        <td class="chart">
          <div class="hitsChart horizontal" style="width: {{(subscription.hits / maxHits * 100)|round(method='ceil')|int}}px;"></div><br />
          <div class="bandwidthChart horizontal" style="width: {{(subscription.bandwidth / maxBandwidth * 100)|round(method='ceil')|int}}px;"></div>
        </td>
      </tr>
      {%- endfor %}
      </table>
    </div>
  </body>
</html>
