To: {{ recipient|mime }}
From: Adblock Plus <info@adblockplus.org>
Subject: Your Adblock Browser download link
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset="UTF-8"

Here it is! Your Adblock Browser download links for Android and iPhone are ready.

Download for Android:
https://adblockplus.org/redirect?link=adblock_browser_android_store

Download for iPhone:
https://adblockplus.org/redirect?link=adblock_browser_ios_store

You received this email because you or someone else submitted your email in order to obtain a download link to install Adblock Browser for Android.

Adblock Browser is committed to protecting and maintaining your privacy. We do not store or share your email:
https://adblockplus.org/privacy#emailcollection

Happy browsing!


The Adblock Plus team

Eyeo GmbH
Im Klapperhof 7-23
50670 Cologne, Germany

E-mail: info@adblockplus.org
Web: https://eyeo.com | https://adblockplus.org | https://adblockbrowser.org

VAT-ID: DE279292414
District Court Cologne: HRB 73508
Managing Directors: Wladimir Palant & Till Faida
